@mixin transformScale($value:1){
    -webkit-transform: scale($value);
    -moz-transform: scale($value);
    -ms-transform: scale($value);
    -o-transform: scale($value);
    transform: scale($value);
}
@mixin transformScaleX($value){
    -webkit-transform: scaleX($value);
    -moz-transform:scaleX($value);
    -o-transform: scaleX($value);
    -ms-transform:scaleX($value);
    transform: scaleX($value);
}
@mixin transformOrigin($value1,$value2){
    -webkit-transform-origin: $value1 $value2;
    -moz-transform-origin: $value1 $value2;
    -o-transform-origin: $value1 $value2;
    -ms-transform-origin: $value1 $value2;
}
@mixin opacity($value){
    opacity:$value;
    filter: alpha(opacity=$value*100);
}
@mixin transition($scope,$time,$type){
    -webkit-transition: $scope $time $type;
    -moz-transition: $scope $time $type;
     -o-transition: $scope $time $type;
    -ms-transition: $scope $time $type;
    transition: $scope $time $type; 
}